.header {
    /* width: 100vw; */
    position: relative;
}

.header__logo {
    border-radius: 30%;
    z-index: 10;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    width: ;
    height: 100%;
    /* z-index: -10; */
}

.nav-user {
    /* background:  linear-gradient(90deg, rgba(40,50,60,1) 45%, rgba(255,255,255,1) 50%, rgba(40,50,60,1) 55%); */
    /* width: 100vw; */
    /* background: url(../img/logo_w.svg) no-repeat top center;  */
    /* background-size: auto 150px; */
    display: flex;
    justify-content: space-between;
    background-color: $color-primary;
    color: $color-white;
    font-size: 20px;
}

.nav-user__item {
    display: flex;
}

.nav-user__items {
    display: flex;
    padding: 20px 30px;
}

// .nav-user__item--search {
//     margin-right: auto;
// }
.subnav__items {
    display: none;
}

// .main-nav__items-shop {
//     margin-right: auto;
// }
.main-nav {
    box-shadow: inset 0 30px 30px -20px $color-primary;
    box-shadow: inset 0px 0px 20px $color-primary-dark;
    /* width: 100vw; */
    /* background: linear-gradient(90deg, white 45%, rgba(40,50,60,1) 45%, rgba(255,255,255,1) 50%, rgba(40,50,60,1) 55%, white 55%); */
}


/* .wave::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 40px 20px;
    background-image:
    radial-gradient(circle at 10px 15px, #19d1ff 12px, transparent 13px);
    } */