.top-sales {
    &__wrapper {
        max-width: 1980px;
        margin: 0px auto;
        background-color: #fff;
        
    }

    &__items {
        margin: 75px 0;
        background:  url(../img/bubbles-1.png), linear-gradient(90deg, rgba(202,226,250,1) 2%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 95%, rgba(202,226,250,1) 98%);

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    &__item {
        margin: 0 20px 40px
    }
}




