/* COLORS */

$color-primary: #1c2f42;
$color-primary-dark: #36628d;
$color-primary-light: #cae2fa;
$color-text-main: #555;
$color-text-light: #999;
$color-white: #fff;
$color-black: #000;
$color-fon: #94e9e5;
$color-fon-light: #e3fcfa;
$color-fon-under: #eee;
$color-fon-footer: #333;
$color-secondary-dark: #ffb900;
$color-secondary-light: #ff7733;
$color-tertiary-dark: #2998ff;
$color-tertiary-light: #5643fa;
$color-fourth-dark: #006400;
$color-fourth-light: #32CD32;
$color-fifth-dark: #00008B;
$color-fifth-light: #4876FF;

/* GRID */

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horisontal: 6rem;

/* Font */

$default-font-size: 24px;

/* background: -webkit-radial-gradient(100px 100px, circle, #5cabff, #000);
        background: radial-gradient(100px 100px, circle, #5cabff, #000);d */


/* Sizes */

$logo_main: 150px;